svg{
	display: inline-block;
	vertical-align: middle;
	fill: currentColor;
	@include ba-transition('fill, stroke');
}
a,
[type="submit"],
[type="button"],
button{
	@include ba-transition;
}
p{margin: 0;}
.right-arrow{
	margin-left: 11px;
	transition: all .5s;
}
.page-header{
	.page-title{
		text-align: center;
		color: $secondary-color;
		font-family: Eurostile-Demi;
		margin-bottom: 30px;
		
		span{
			color: #000;
		}
	}
}
.row{
	padding: 0 10px;
	@include breakpoint(large) {
		padding: 0 20px;
	}
	.column{
		padding: 0;
	}
}
.ba-section-bottom-line{
	padding-top: 40px;
	border-bottom: 1px solid #d4d4d4;
	width: 100%;
	height: 100%;
}
.ba-simple-button{
	padding: 20px 20px;
	min-width: 240px;
	background: $primary-color;
	font-family: HelveticaBold;
	color: #000;
	display: inline-block;
	margin: 0 auto;
	text-align: center;

	&:hover{
		background: $secondary-color;
		color: #fff;
	}
}

//Placeholder Transition
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity 1s ease;}
input::-moz-placeholder, textarea::-moz-placeholder                {opacity: 1; transition: opacity 1s ease;}
input:-moz-placeholder, textarea:-moz-placeholder                 {opacity: 1; transition: opacity 1s ease;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder            {opacity: 1; transition: opacity 1s ease;}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 1s ease;}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder        {opacity: 0; transition: opacity 1s ease;}
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity 1s ease;}
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 1s ease;}

//
.menu{
	.is-active{
		> a {
			background: transparent;
			color: $secondary-color!important;
		}
	}

	a{
		transition: all .5s;
		&:hover{
			color: $primary-color!important;
		}
	}
}