.ba-header__franchise-wrapper{
  background: $primary-color;

  .ba-header_franchise{
    padding: 0 10px 15px;
    min-height: 130px;
    align-items: center;
    @include breakpoint(medium) {
      padding: 20px;
      flex-direction: column;
    }
    @include breakpoint(1200) {
      flex-direction: row;
      padding: 0 20px 0 65px;
    }

    .ba-header__franchise-icon{
      padding-right: 25px;
      display: none;
      @include breakpoint(1200) {
        display: block;
      }
    }

    .ba-header__franchise-text{
      padding-top: 10px;
      margin: 0 auto;
      @include breakpoint(medium) {
        padding-top: 20px;
      }
      @include breakpoint(large) {
        margin: 0;
        padding-top: 0;
      }

      .ba-header__franchise-title{
        font-family: Eurostile-Demi;
        font-size: 20px;
        text-align: center;
        line-height: 1;
        margin: 0;
        @include breakpoint(medium) {
          font-size: 30px;
        }
        @include breakpoint(1200) {
          font-size: 38px;
          text-align: left;
        }
      }

      .ba-header__franchise-desc{
        margin: 0;
        font-size: 12px;
        font-family: HelveticaBold;
        line-height: 16px;
        text-align: center;
        @include breakpoint(medium) {
          font-size: 14px;
          line-height: 18px;
        }

        @include breakpoint(1200) {
          font-size: 16px;
          line-height: 20px;
          text-align: left;
        }
      }
    }

    .ba-header_franchise-form{
      width: 100%;
      @include breakpoint(medium) {
        width: auto;
      }

      form{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        @include breakpoint(medium) {
          flex-direction: row;
          margin-top: 15px;
        }
        @include breakpoint(1200) {
          margin-top: 0;
        }

        input{
          min-height: 45px;
          @include breakpoint(medium) {
            min-height: 55px;
          }
        }

        .zip-code{
          margin: 10px 0 15px;
          width: 100%;
          min-width: 100%;
          box-shadow: none;
          padding: 0 15px;
          font-size: 14px;
          font-family: HelveticaBold;
          border: 1px solid #b7b7b7;
          @include breakpoint(medium) {
            font-size: 18px;
            min-width: 260px;
            margin: 0 10px 0 0;
          }
          @include breakpoint(1200) {
            margin: 0 10px 0 30px;
          }

          &::placeholder{
            font-size: 14px;
            font-family: HelveticaBold;
            color: #b7b7b7;
            @include breakpoint(medium) {
              font-size: 18px;
            }
          }
        }

        .franchise-button{
          width: 100%;
          padding: 0 15px;
          border: 1px solid $secondary-color;
          color: #fff;
          background: $secondary-color;
          font-family: HelveticaBold;
          font-size: 14px;
          cursor: pointer;
          outline: none;
          @include breakpoint(medium) {
            min-width: 140px;
            font-size: 18px;
          }

          &:hover{
            background: #fff;
            color: $secondary-color;
          }
        }
      }
    }
  }
}