//NEWS
.ba-news--front{
  padding-bottom: 30px;
}
.ba-news{
  padding-top: 30px;

  .ba-news__title{
    color: $secondary-color;
    font-family: Eurostile-Demi;
    text-align: center;
    line-height: 1;
    margin-bottom: 25px;
  }
}

.ba-news__content{
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  @include breakpoint(820px) {
    justify-content: space-around;
    flex-direction: row;
  }

  @include breakpoint(1250) {
    justify-content: flex-start;
  }

  .ba-news__item{
    position: relative;
    border: 1px solid #e1e1e1;
    max-width: 384px;
    width: 100%;
    margin-bottom: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;

    @include breakpoint(1000) {
      min-width: 384px;
    }

    @include breakpoint(1250) {
      margin-right: 24px;

      &:nth-child(3n+3){
        margin-right: 0;
      }
    }

    .ba-news__item-date{
      position: absolute;
      top: 0;
      left: 0;
      width: 60px;
      height: 60px;
      background: $primary-color;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      z-index: 999;

      .ba-news__date-month{
        font-size: 16px;
        font-family: Eurostile;
        color: #000;
        line-height: 1;
        text-transform: uppercase;
      }

      .ba-news__date-day{
        font-size: 28px;
        font-family: Eurostile-Demi;
        color: #000;
        line-height: 1;
        margin-top: 1px;
      }
    }

    .ba-news__item-image{
      width: 100%;
      height: 275px;
      display: block;
      overflow: hidden;
      transition: all 0.5s;
      position: relative;
      z-index: 1;

      img{
        width: 100%;
        height: 100%;
        transition: all .5s;
      }

      &:hover{
        img{
          transform: scale(1.2) rotateZ(5deg);
          transition: all 0.5s;
          filter: blur(2px);
        }
      }
    }

    .ba-news__item-title{
      font-size: 24px;
      font-family: Eurostile-Demi;
      line-height: 30px;
      color: #000;
      padding: 0 15px;
      display: inline-block;
      margin: 10px 0;
      text-align: left;

      &:hover{
        color: $secondary-color;
      }

      @include breakpoint(medium) {
        font-size: 32px;
        line-height: 36px;
      }
    }

    .ba-news__item-text{
      padding: 0 15px;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 20px;

      .ba-news__item-readmore{
        display: inline-block;
        color: $secondary-color;
        border-bottom: 1px solid $secondary-color;

        &:hover{
          opacity: 0.5;
        }
      }
    }

    .ba-news__item-author{
      text-transform: uppercase;
      padding: 10px 15px;
      font-size: 14px;
      font-family: HelveticaBold;
      border-top: 1px solid #e1e1e1;

      a{
        color: #000;

        &:hover{
          color: $secondary-color;
        }
      }
    }
  }

  .ba-news__link{
    display: flex;
    justify-content: center;
  }
}