.ba-single-post{
  padding-bottom: 30px!important;
  border-bottom: 1px solid #d4d4d4;
}
.ba-single-post__image{
  float: left;
  margin-bottom: 10px;
  @include breakpoint(medium) {
    margin-right: 20px;
  }
}
.ba-single-post__title{
  text-align: center;
  font-family: Eurostile-Demi;
  color: $secondary-color;
  line-height: 1;
  line-height: 30px;
  margin: 0;
  @include breakpoint(medium) {
    text-align: left;
    line-height: 39px;
    margin-bottom: 10px;
  }
  @include breakpoint(large) {
    margin-bottom: 20px;
  }

}
.ba-single-post__content{
  font-size: 16px;
  line-height: 23px;
}