.ba-header-bar {
	@include xy-grid-container;
	display: flex;
	justify-content: space-between;
}

// Navigation breakpoints
.mobile-menu {
	@include hide-for(large);
}

.desktop-menu {
	@include show-for(large);
}

// Mobile menu
.mobile-menu {
	display: none; // prevents repaint caused by JS hiding menu onload
}

.off-canvas {
	height: 100vh;
	> ul.menu {
		padding: 1rem;

		a {
			color: $white;
		}
	}
}

// Tablet and desktop menu

// WP post navigation
.post-navigation {
	@include clearfix;
}

.nav-previous {
	float: left;
}

.nav-next {
	float: right;
}


.ba-header__top-bar{
	background: #000;
	font-size: 14px;
	font-family: HelveticaBold;

	.top-bar__row{
		justify-content: space-between;
		align-items: center;
		height: 52px;
		padding: 0 10px;
		@include breakpoint(medium) {
			padding: 0 20px;
		}

		.top-bar__left-side{
			a{
				color: $primary-color;
				line-height: 1;
				transition: all .5s;
				display: flex;
				align-items: center;

				i{
					font-size: 12px;
					margin-left: 11px;
					transition: all .5s;
				}

				&:hover{
					i{
						margin-left: 22px;
					}
				}
			}
		}

		.top-bar__right-side{
			ul{
				li{
					margin-right: 23px;
					&:last-child{
						margin-right: 0;
					}

					a{
						padding: 0;
						color: #fff;
					}
				}
			}
		}
	}
}

.ba-header{
	position: relative;
	min-height: 265px;

	.ba-header__nav{
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, .6);
		z-index: 2;
		width: 100%;

		.ba-header-nav__row{
			justify-content: center;
			align-items: center;
			height: 80px;
			padding: 0 20px;
			@include breakpoint(medium) {
				justify-content: space-between;
			}

			.ba-header-nav__right-side{
				ul{
					li{
						margin-right: 25px;
						&:last-child{
							margin-right: 0;
						}

						@include breakpoint(1150) {
							margin-right: 50px;
						}


						a{
							color: #fff;
							font-size: 14px;
							font-family: HelveticaBold;
							padding: 0;

							@include breakpoint(medium) {

							}
							@include breakpoint(large) {
								font-size: 16px;
							}
						}
					}
				}
			}
		}
	}

	.ba-header__content{
		padding-bottom: 30px;
		width: 100%;
		@include breakpoint(large) {
			padding-bottom: 120px;
		}

		.ba-header__content-row{
			padding-top: 100px;
			@include breakpoint(large) {
				padding-top: 170px;
			}

			.ba-header__content-text{
				color: #fff;
				padding: 25px 15px 25px;
				background: rgba(0, 0, 0, .7);
				width: 100%;
				@include breakpoint(medium) {
					max-width: 590px;
					padding: 55px 30px 35px;
				}

				.ba-header__content-title{
					font-size: 25px;
					line-height: 30px;
					text-align: center;
					font-family: Eurostile-Demi;
					@include breakpoint(medium) {
						font-size: 34px;
						line-height: 45px;
						text-align: left;
						max-width: 490px;
					}
				}

				.ba-header__contact-button{
					width: 100%;
					min-height: 50px;
					padding: 0 30px 0 15px;
					margin-top: 15px;
					background: $primary-color;
					color: #000;
					display: flex;
					justify-content: center;
					align-items: center;
					font-family: HelveticaBold;
					line-height: 1;
					font-size: 16px;
					position: relative;
					transition: all .5s;
					@include breakpoint(medium) {
						margin-top: 25px;
						max-width: 200px;
					}

					i{
						padding-left: 15px;
						font-size: 12px;
						position: absolute;
						right: 20px;
						top: 50%;
						transform: translateY(-50%);
						transition: all .5s;
					}

					&:hover{
						i{
							right: 15px;
						}
					}
				}
			}
		}
	}
}